<ion-view view-title="Home">
    <ion-content class="padding">

   

        <div id="signoutDiv">
           <div class="row">
                <div class="" style="margin-left:auto; margin-right:auto; ">
                    <span style="text-align:center">
                        <h3>Welcome,  <span style="font-style:italic">{{loginData.u}}</span>!
                    <h3>
                        <h4>Your current warhouse is {{loginData.w}} - {{loginData.wd}}</h4>
                    </span>
                    <div class="list card">
                        <div class="item">
                            <div style="position: absolute; top:25%; float:left;">
                                <h2>Dashboard</h2>
                                <p>{{dateToday | date:'MMMM, dd yyyy'}}</p>
                             </div>
                             <div style="display:inline-block; float:right;" >
                                <button class="button button-balanced" ng-click="getDashboard()"><span class="icon ion-loop"></span></button>
                             </div>
                        </div>

                        <div class="item item-body">
                            
                          <div ng-show="dashValue" style="text-align:center;">
                            <ion-spinner icon="spiral"></ion-spinner>
                          </div>
                             <ul ng-hide="dashValue">
                                 <li>Total Picklist : {{DashBoardData.TotalPicklist}}</li>
                                 <li>Total ItemCode : {{DashBoardData.TotalItemCode}}</li>
                                 <li>Total Location : {{DashBoardData.TotalLoc}}</li>
                                 <li>Total Zone : {{DashBoardData.TotalZone}}</li>
                                 <li>Total Customer  : {{DashBoardData.TotalCustomerCode}}</li>
                                 <li>Total Issuance Requisition : {{DashBoardData.TotalIssuanceNo}}</li>
                                 <li>Total TransactionType : {{DashBoardData.TotalTransactionCode}}</li>
                                 <li>Total Type of Location : {{DashBoardData.TotalLocationType}}</li>
                                 <li>Total Transaction Quantity to Pick : {{DashBoardData.SumOfTransQty}}</li>
                             </ul>
                        </div>
                    </div>
                    
                    <div class="row no-padding">
                        <div class="col col-67">
                            <button class="button button-outline button-positive" ng-click="openWarehouseModal()">Change Warehouse</button>
                        </div>
                        <div class="col">  
                            <button class="button button-outline button-positive" ng-click="doLogout()">Sign out</button>
                       </div>
                   </div>
                </div>
               
            </div>
              
        </div>

    </ion-content>
</ion-view>