<ion-view view-title="Pallete List in {{pickid}}">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon">
            </i>
            <input type="search" placeholder="Search" ng-model="searchPalleteList">
        </label>
    </div>
    <ion-content class="has-header has-subheader padding">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getIssuancePalleteList()" spiner="android">
        </ion-refresher>
        <p>Total number of Pallete : {{PalleteList.length}}</p>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-right item" style="text-decoration:none" ng-repeat="item in PalleteList | filter : searchPalleteList"
                ng-click="showMoreInfoModal(item.PalleteNo)">
                <p><strong>Item Code : {{item.ItemCode}}</strong></p>
                <p><strong>Location : {{item.LocationCode}}</strong></p>
                <p><strong>Trans Qty : {{item.TransactionQty}}</strong></p>
                <p><strong>Lot # : {{item.LotNumber}}</strong></p>
                <p><strong>Exp. Date : {{item.ExpiryDate | date}}</strong></p>

                <i class="icon ion-ios-arrow-left"></i>
                <ion-option-button style="line-height:13px;">
                    <div style="color:black; text-align:center; width:100px;">
                        <span style="color:red">Item : <br> {{item.ItemCode}}<span><br><br>
                       <span style="color:blue"> Qty :<br> {{item.TransactionQty}}<span>
                    </div>
                </ion-option-button>
                <ion-option-button class="button-energized" ng-click="showPickItemModal(item.PalleteNo)">
                    <div style="color:white; text-align:center;">
                        <span class="ion-ios-upload" style="font-size:1.2em; display:block"></span>
                        <span>Diff. pick</span>
                    </div>
                </ion-option-button>

                <ion-option-button class="button-balanced" ng-click="PickAll(item.PalleteNo)">
                    <div style="color:white; text-align:center;">
                        <span class="ion-ios-upload" style="font-size:1.2em; display:block"></span>
                        <span>Pick All</span>
                    </div>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>