<ion-view view-title="Picklist in {{loc}}">
<div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon">
            </i>
            <input type="search" placeholder="Search" ng-model="searchPickList">
        </label>
    </div>
    <ion-content class="has-header has-subheader padding">
        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="getLocPickList()"
                       spiner="android">
        </ion-refresher>
        <p>Total number of Picklist : {{locPickList.length}}</p>
        <ion-list>
            
                <ion-item class="item-text-wrap item"  style="text-decoration:none;" ng-repeat="item in locPickList | filter:searchPickList" ng-click="redirectMe(item.PickListID)">
                    {{item.PickListID}} - {{item.CustomerName}}
                     <span class="badge badge-assertive"> {{item.PalleteCount}}</span>
                </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view>