<ion-view view-title="Login" hide-back-button="true">
    <ion-content class="padding">
        <form ng-submit="doLogin()">
            <div class="list">
                <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="loginData.username" ng-blur="getWarehouse()" / >
                    </label>

                <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.password" />
                    </label>

                <label class="item item-input item-select">
                         <div class="input-label">
                        Warehouse
                        </div>
                        <select ng-model="loginData.warehouse"  ng-options="item.WarehouseCode as (item.WarehouseCode +' - '+ item.WarehouseDescription) for item in warehouseList">
                        </select>
                    </label>

                <label class="item">
                        <button class="button button-block button-positive" type="submit">Sign in</button>
                      
                    </label>

            </div>
        </form>
        <p ng-show="loginData.hasError" class="assertive">{{loginData.errorMessage}}</p>
</ion-view>
</ion-content>