<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button ng-show="isLogged" class="button button-icon button-clear ion-navicon" menu-toggle="right" >
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right">
        <ion-header-bar class="bar-calm">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('home')">
                 <i class="icon ion-home"></i>Home
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('picklist')">
                    <i class="icon ion-archive"></i> Picklist
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('zone')"">
                    <i class="icon ion-grid"></i> Zone
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('loc')">
                    <i class="icon ion-navigate"></i> Location
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('itemcode')">
                        <i class="icon ion-android-archive"></i> Item Code                
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('issuance')">
                        <i class="icon ion-social-buffer"></i> Issuance Request
                </ion-item>
                <ion-item class="item-icon-left" menu-close ng-click="redirectMe('view')">
                    <i class="icon ion-clipboard"></i> My Picked Items
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>