<ion-view view-title="My Picked Items {{PickId}}">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
    </div>

    <ion-content class="has-header has-subheader padding">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getPallete()" spiner="android">
        </ion-refresher>

        <ion-list>

            <ion-item class="item" style="text-decoration:none;" ng-repeat="item in PickedItems | filter:search" ng-hide="type.selected==3">
                <p><strong>Item Code : {{item.ItemCode}}</strong></p>
                <p><strong>Item Desc : {{item.ItemDescription}} </strog></p>
                <p><strong>Location : {{item.LocationCode}}</strong></p>
                <p><strong>Trans Qty : {{item.TransactionQty}}</strong></p>
                <p><strong>Lot # : {{item.LotNumber}}</strong></p>
                <p><strong>Exp. Date : {{item.ExpiryDate | date:'medium'}}</strong></p>
                <p><strong>Date Picked : {{item.ModifyDate | date:'medium'}}</strong></p>
            </ion-item>
        </ion-list>
        
    </ion-content>

</ion-view>