<ion-view view-title="My Picked Items {{viewHeader}}">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
    </div>

    <ion-content class="has-header has-subheader padding">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getViews()" spiner="android">
        </ion-refresher>
        <div class="row">
            <div class="col"> Total number of items :
                <span ng-hide="type.selected==3"> {{PickedItems.length}}</span>
                <span ng-show="type.selected==3"> {{PickListItems.length}}</span>
            </div>


            <div class="col"> <span style="float:right;">   Type  <select ng-model="type.selected" ng-change="getViews()">
            <option value="1">Last Pick Transaction</option>
             <option value="2">Last Picklist Transacted</option>
              <option value="3">Select Picklist #</option>
        </select></div>
        </div>
        
        <ion-list  ng-hide="type.selected==3">

            <ion-item class="item-text-wrap item" style="text-decoration:none;" ng-repeat="item in PickedItems | filter:search">
                <p><strong>Item Code : {{item.ItemCode}}</strong></p>
                <p><strong>Item Desc : {{item.ItemDescription}} </strog></p>
                <p><strong>Location : {{item.LocationCode}}</strong></p>
                <p><strong>Trans Qty : {{item.TransactionQty}}</strong></p>
                <p><strong>Lot # : {{item.LotNumber}}</strong></p>
                <p><strong>Exp. Date : {{item.ExpiryDate | date:'medium'}}</strong></p>
                <p><strong>Date Picked : {{item.ModifyDate | date:'medium'}}</strong></p>
            </ion-item>
            
              
        </ion-list>
        <ion-list  ng-show="type.selected==3">
            <ion-item class="item-text-wrap item" style="text-decoration:none;" ng-repeat="item in PickListItems | filter:search" ng-click="redirect(item.PickListID)">
                 {{item.PickListID}} - {{item.CustomerName}}
                     <span class="badge badge-assertive"> {{item.PalleteCount}}</span>
                </ion-item>
                </ion-list>
    </ion-content>

</ion-view>