<ion-view view-title="Home">
    <ion-content class="padding">

        <div id="loginDiv" ng-hide="loginData.isLogged">
            <form ng-submit="doLogin()">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="loginData.username" ng-blur="getWarehouse()" / >
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.password" />
                    </label>

                    <label class="item item-input item-select">
                         <div class="input-label">
                        Warehouse
                        </div>
                        <select ng-model="loginData.warehouse"  ng-options="item.WarehouseCode as (item.WarehouseCode +' - '+ item.WarehouseDescription) for item in warehouseList">
                        </select>
                    </label>

                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Sign in</button>
                      
                    </label>

                </div>
            </form>
            <p ng-show="loginData.hasError" class="assertive">{{loginData.errorMessage}}</p>
        </div>

        <div id="signoutDiv" ng-show="loginData.isLogged">
           <div class="row">
                <div class="" style="margin-left:auto; margin-right:auto; ">
                    <span style="text-align:center">
                        <h3>Welcome,  <span style="font-style:italic">{{loginData.u}}</span>!
                    <h3>
                        <h4>Your current warhouse is {{loginData.w}} - {{loginData.wd}}</h4>
                    </span>
                    <div class="list card">
                        <div class="item">
                            <div style="position: absolute; top:25%; float:left;">
                                <h2>Dashboard</h2>
                                <p>{{dateToday | date:'MMMM, dd yyyy'}}</p>
                             </div>
                             <div style="display:inline-block; float:right;" >
                                <button class="button button-balanced" ng-click="getDashboard()"><span class="icon ion-loop"></span></button>
                             </div>
                        </div>

                        <div class="item item-body">
                            
                          <div ng-show="dashValue" style="text-align:center;">
                            <ion-spinner icon="spiral"></ion-spinner>
                          </div>
                             <ul ng-hide="dashValue">
                                 <li>Total Picklist : {{DashBoardData.TotalPicklist}}</li>
                                 <li>Total ItemCode : {{DashBoardData.TotalItemCode}}</li>
                                 <li>Total Location : {{DashBoardData.TotalLoc}}</li>
                                 <li>Total Zone : {{DashBoardData.TotalZone}}</li>
                                 <li>Total Customer  : {{DashBoardData.TotalCustomerCode}}</li>
                                 <li>Total Issuance Requisition : {{DashBoardData.TotalIssuanceNo}}</li>
                                 <li>Total TransactionType : {{DashBoardData.TotalTransactionCode}}</li>
                                 <li>Total Type of Location : {{DashBoardData.TotalLocationType}}</li>
                                 <li>Total Transaction Quantity to Pick : {{DashBoardData.SumOfTransQty}}</li>
                             </ul>
                        </div>
                    </div>
                    
                    <div class="row no-padding">
                        <div class="col col-67">
                            <button class="button button-outline button-positive" ng-click="openWarehouseModal()">Change Warehouse</button>
                        </div>
                        <div class="col">  
                            <button class="button button-outline button-positive" ng-click="doLogout()">Sign out</button>
                       </div>
                   </div>
                </div>
               
            </div>
              
        </div>

    </ion-content>
</ion-view>