<ion-view view-title="Location List in {{wc}}">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchLocList">
        </label>
    </div>
    <ion-content class="has-header has-subheader padding">
        <ion-refresher
         pulling-text="Pull to refresh..."
         on-refresh="getLocList()"
         spinner="android">
        </ion-refresher>
        
        <p>Total number of Location : {{locList.length}}</p>
        <ion-list>
                <ion-item  class="item" style="text-decoration : none;" ng-repeat="item in locList | filter:searchLocList" ng-click="redirectMe(item.LocCode)">
                    {{item.LocCode}}
                    <span class="badge badge-assertive">
                        {{item.ItemCount}}</span>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>