<!--<script id="moreInfoModal.html" type="text/ng-template">-->
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">More info of {{pickedItem.ItemCode}}
                <span style="float:right; cursor:pointer" ng-click="closeModal('MoreInfo')">&times;</span></h1>
        </ion-header-bar>
        <ion-content class="padding">
            <p>Pallete # : {{pickedItem.PalleteNo}}</p>
            <p>Item Desc : {{pickedItem.ItemDescription}}</p>
            <p>Ref # : {{pickedItem.ReferenceNo}}</p>
            <p>Date Manufactured : {{pickedItem.ManufacturingDate | date}}</p>
            <p>Issuance # : {{pickedItem.IssuanceNo}}</p>
            <p>Customer Name : {{pickedItem.CustomerName}}</p>
            <p>Customer Code : {{pickedItem.CustomerCode}}</p>
        </ion-content>
    </ion-modal-view>
<!--</script>-->
