<ion-view view-title="Zone list in {{wc}}" >
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchZoneList">
        </label>
    </div>
    <ion-content class="has-header has-subheader padding">

        <ion-refresher
                       pulling-text="Pull to refresh..."
                       on-refresh="getZoneList()"
                       spinner="android">

        </ion-refresher>
            <p>Total number of Zone : {{zoneList.length}}</p>
        <ion-list>
             
                <ion-item class="item" style="text-decoration:none;"  ng-repeat="item in zoneList | filter:searchZoneList" ng-click="redirectMe(item.Zone)">
                    {{item.Zone}} 
                    <span class="badge badge-assertive"> {{item.ItemCount}}</span>
                </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
